body{
    padding: 0;
    margin:0;
    overflow: hidden;
}

.road1{
    position: absolute;
    top: 65%;
    left: -5139%;
    animation:road1 10s linear infinite reverse ;
}
.road2{
    position: absolute;
    top: 65%;
    left: 0%;
    animation:road2 10s linear infinite reverse ;
}
.car{
    position:absolute;
    top: 40%;
    width: 50%;
    left: 25%;
}
.wheel1{
    position: absolute;
    top: 64%;
    left: 30%;
    width: 8%;
    animation: wheel1 3s linear infinite;
}
.wheel2{
    position: absolute;
    top: 64%;
    left: 60.5%;
    width: 8%;
    animation: wheel2 3s linear infinite;
}
.city1{
    position: absolute;
    top: -10%;
    left: -100%;
    width: 100%;
    animation:  city1 10s linear infinite reverse;
}
.city2{
    position: absolute;
    top: 26.5%;
    left: 0%;
    width: 100%;
    animation:  city2 10s linear infinite reverse;
}
@keyframes road1{
    form{
        left: -5139px;
    }
    to{
        left: 0px;
    }
}
@keyframes road1{
    form{
        left: 0px;
    }
    to{
        left: 5139px;
    }
}
